# MySQL
MYSQL_URL=mysql://LavaAnime:password@localhost:3306/lavaanime

# Bangumi
BANGUMI_API_HOST=https://api.bgm.tv
BANGUMI_IMAGE_HOST=https://lain.bgm.tv

# Log
LOG_LEVEL=info
LOG_DIR=logs
LOG_FILE=app.log

# Security
SECURITY_TRUST_PROXY=true
SECURITY_LOGIN_MAX_TRY=10
SECURITY_BAN_WAIT_MINUTES=10
SECURITY_TOKEN_EXPIRATION_DAYS=30
